@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@font-face {
  font-family: 'Neue Grotesk';
  font-weight: bold;
  src: url('../fonts/NeueHaasDisplay-Black.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navbar-height: 80px;
    --ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  *,
  *::before,
  *::after {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  *::selection {
    @apply bg-primary text-white;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #101010;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ed0c32;
    border-radius: 1000000px;
  }

  ::-webkit-scrollbar-track {
    background-color: #101010;
  }
}

@layer components {
  .see-works {
    background-image: linear-gradient(#ed0c32 0 0);
    background-size: 200% 0.08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0.3s 0.3s;
  }
  .see-works:hover {
    transition: background-size 0.3s 0.3s, background-position 0.3s;
    background-size: 200% 100%;
    background-position: 100% 100%;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .option-number {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #ed0c32;
  }

  .social--icon-container {
    @apply w-8 h-8 flex justify-center items-center;
  }

  .social--icon {
    @apply w-6 h-6 relative z-50 brightness-50 group-hover:scale-125 group-active:scale-75 group-hover:brightness-90 fill-white group-hover:fill-primary duration-300;
  }

  .container {
    @apply flex items-end justify-center my-0 h-[60px] w-fit;
  }

  .bar {
    @apply h-[2px] w-[5px] bg-white m-[2px] animate-sound-bar;
  }

  .stopped-bar {
    @apply h-[2px] w-[5px] bg-white m-[2px];
  }

  .bar:nth-child(2) {
    animation-delay: 0.36s;
  }

  .bar:nth-child(3) {
    animation-delay: 0.12s;
  }

  .bar:nth-child(4) {
    animation-delay: 0.24s;
  }

  .bar:nth-child(5) {
    animation-delay: 0.48s;
  }

  .block {
    position: fixed;
    background: #ed0c32;
    height: 100vh;
    width: 0%;
  }

  .block-1 {
    left: 0;
  }

  .block-2 {
    left: 5%;
  }

  .block-3 {
    left: 10%;
  }

  .block-4 {
    left: 15%;
  }

  .block-5 {
    left: 20%;
  }

  .block-6 {
    left: 25%;
  }

  .block-7 {
    left: 30%;
  }

  .block-8 {
    left: 35%;
  }

  .block-9 {
    left: 40%;
  }

  .block-10 {
    left: 45%;
  }

  .block-11 {
    left: 50%;
  }

  .block-12 {
    left: 55%;
  }

  .block-13 {
    left: 60%;
  }

  .block-14 {
    left: 65%;
  }

  .block-15 {
    left: 70%;
  }

  .block-16 {
    left: 75%;
  }

  .block-17 {
    left: 80%;
  }

  .block-18 {
    left: 85%;
  }

  .block-19 {
    left: 90%;
  }

  .block-20 {
    left: 95%;
  }
}
